In [23]:
import pandas as pd

In [24]:
housing = pd.read_csv('housing.csv')
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [25]:
# Stratified sampling
import numpy as np

# median_income --> 분류 데이터로 나누기
housing['income_cat'] = np.ceil(housing.median_income / 1.5)
housing['income_cat'].where(housing.income_cat < 5, 5.0, inplace = True)

In [26]:
from sklearn.model_selection import StratifiedShuffleSplit

In [27]:
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state=42)
split
for train_index, test_index in split.split(housing ,housing.income_cat):
    strat_train_set = housing.iloc[train_index]
    strat_test_set = housing.iloc[test_index]

# 책 말고...

In [28]:
# 학습데이터  features / labels 분리하기
housing = strat_train_set.drop('median_house_value', axis=1)
housing_labels = strat_train_set.median_house_value.copy()

In [29]:
housing_labels

17606    286600.0
18632    340600.0
14650    196900.0
3230      46300.0
3555     254500.0
19480    127900.0
8879     500001.0
13685    140200.0
4937      95000.0
4861     500001.0
16365     92100.0
19684     61500.0
19234    313000.0
13956     89000.0
2390     123900.0
11176    197400.0
15614    500001.0
2953      63300.0
13209    107000.0
6569     184200.0
5825     280900.0
18086    500001.0
16718    171300.0
13600    116600.0
13989     60800.0
15168    121100.0
6747     270700.0
7398     109900.0
5562     159600.0
16121    500001.0
           ...
12380    122500.0
5618     350000.0
10060    172800.0
18067    500001.0
4471     146600.0
19786     81300.0
9969     247600.0
14621    164100.0
579      254900.0
11682    185700.0
245      126800.0
12130    114200.0
16441    101800.0
11016    265600.0
19934     88900.0
1364     225000.0
1236     123500.0
5364     500001.0
11703    321600.0
10356    266000.0
15270    346700.0
3754     190200.0
12166    148800.0
6003     214800.0
7364     174300.0
6563     240200.0
12053    113000.0
13908     97800.0
11159    225900.0
15775    500001.0
Name: median_house_value, Length: 16512, dtype: float64

In [ ]:
# na 처리하기

In [30]:
housing.info()
# total_bedrooms  na 가짐

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 10 columns):
longitude             16512 non-null float64
latitude              16512 non-null float64
housing_median_age    16512 non-null float64
total_rooms           16512 non-null float64
total_bedrooms        16354 non-null float64
population            16512 non-null float64
households            16512 non-null float64
median_income         16512 non-null float64
ocean_proximity       16512 non-null object
income_cat            16512 non-null float64
dtypes: float64(9), object(1)
memory usage: 1.4+ MB

In [31]:
housing.fillna(housing.median(), inplace = True)

In [32]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 10 columns):
longitude             16512 non-null float64
latitude              16512 non-null float64
housing_median_age    16512 non-null float64
total_rooms           16512 non-null float64
total_bedrooms        16512 non-null float64
population            16512 non-null float64
households            16512 non-null float64
median_income         16512 non-null float64
ocean_proximity       16512 non-null object
income_cat            16512 non-null float64
dtypes: float64(9), object(1)
memory usage: 1.4+ MB

In [33]:
# 분류형 데이터 정리하기

In [34]:
import pandas as pd

In [35]:
housing_ocean = pd.get_dummies(housing.ocean_proximity)
housing_ocean.head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
17606          1       0       0         0           0
18632          1       0       0         0           0
14650          0       0       0         0           1
3230           0       1       0         0           0
3555           1       0       0         0           0

In [36]:
housing_ocean.drop('NEAR OCEAN',axis=1, inplace=True)   # 1개의 컬럼이 없어도 구분 가능함. 
housing_ocean.head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY
17606          1       0       0         0
18632          1       0       0         0
14650          0       0       0         0
3230           0       1       0         0
3555           1       0       0         0

In [38]:
housing_pre = housing.drop('ocean_proximity', axis=1)
housing_train = pd.merge(housing_pre, housing_ocean, how = 'outer', left_index = True, right_index = True)

In [39]:
housing_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,income_cat,<1H OCEAN,INLAND,ISLAND,NEAR BAY
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,2.0,1,0,0,0
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,5.0,1,0,0,0
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,2.0,0,0,0,0
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,2.0,0,1,0,0
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,3.0,1,0,0,0

In [40]:
# 테스트데이터 정리하기
strat_test_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
5241,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,<1H OCEAN,5.0
10970,-117.86,33.77,39.0,4159.0,655.0,1669.0,651.0,4.6111,240300.0,<1H OCEAN,4.0
20351,-119.05,34.21,27.0,4357.0,926.0,2110.0,876.0,3.0119,218200.0,<1H OCEAN,3.0
6568,-118.15,34.20,52.0,1786.0,306.0,1018.0,322.0,4.1518,182100.0,INLAND,3.0
13285,-117.68,34.07,32.0,1775.0,314.0,1067.0,302.0,4.0375,121300.0,INLAND,3.0

In [ ]:
# test_labels = strat_test_set.median_house_value.copy()

In [41]:
strat_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 5241 to 2398
Data columns (total 11 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4079 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
median_house_value    4128 non-null float64
ocean_proximity       4128 non-null object
income_cat            4128 non-null float64
dtypes: float64(10), object(1)
memory usage: 387.0+ KB

In [42]:
test_set = strat_test_set.fillna(strat_test_set.median())

In [43]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 5241 to 2398
Data columns (total 11 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4128 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
median_house_value    4128 non-null float64
ocean_proximity       4128 non-null object
income_cat            4128 non-null float64
dtypes: float64(10), object(1)
memory usage: 387.0+ KB

In [44]:
test_set_data_ocean = pd.get_dummies(test_set.ocean_proximity)
test_set_data_ocean.drop('NEAR OCEAN', axis = 1, inplace=True)
test_set_data_ocean.head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY
5241           1       0       0         0
10970          1       0       0         0
20351          1       0       0         0
6568           0       1       0         0
13285          0       1       0         0

In [45]:
test_set_data = test_set.drop('ocean_proximity',axis = 1)
test_prepared = pd.merge(test_set_data, test_set_data_ocean.astype(int), how = 'outer', left_index = True, right_index = True)
test_prepared.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,income_cat,<1H OCEAN,INLAND,ISLAND,NEAR BAY
5241,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,500001.0,5.0,1,0,0,0
10970,-117.86,33.77,39.0,4159.0,655.0,1669.0,651.0,4.6111,240300.0,4.0,1,0,0,0
20351,-119.05,34.21,27.0,4357.0,926.0,2110.0,876.0,3.0119,218200.0,3.0,1,0,0,0
6568,-118.15,34.20,52.0,1786.0,306.0,1018.0,322.0,4.1518,182100.0,3.0,0,1,0,0
13285,-117.68,34.07,32.0,1775.0,314.0,1067.0,302.0,4.0375,121300.0,3.0,0,1,0,0

In [46]:
test_prepared.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 5241 to 2398
Data columns (total 14 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4128 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
median_house_value    4128 non-null float64
income_cat            4128 non-null float64
<1H OCEAN             4128 non-null int32
INLAND                4128 non-null int32
ISLAND                4128 non-null int32
NEAR BAY              4128 non-null int32
dtypes: float64(10), int32(4)
memory usage: 579.2 KB

In [ ]:
# test_prepared = test_prepared[test_prepared.ISLAND.notna()]

In [47]:
test_labels = test_prepared.median_house_value
test_prepared.drop('median_house_value', axis=1, inplace = True)

In [48]:
test_prepared.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4128 entries, 5241 to 2398
Data columns (total 13 columns):
longitude             4128 non-null float64
latitude              4128 non-null float64
housing_median_age    4128 non-null float64
total_rooms           4128 non-null float64
total_bedrooms        4128 non-null float64
population            4128 non-null float64
households            4128 non-null float64
median_income         4128 non-null float64
income_cat            4128 non-null float64
<1H OCEAN             4128 non-null int32
INLAND                4128 non-null int32
ISLAND                4128 non-null int32
NEAR BAY              4128 non-null int32
dtypes: float64(9), int32(4)
memory usage: 547.0 KB

### 머신러닝 진행하기

In [ ]:
housing

In [ ]:
# 학습데이터: housing_train
# 학습데이터 레이블 : housing_labels

# 테스트 데이터: test_prepared
# 테스트 데이터 레이블 : test_labels

 - linear regression

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
lin_reg = LinearRegression()
lin_reg.fit(housing_train, housing_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [53]:
# 평가하기  RMSE(mean_square_error)
from sklearn.metrics import mean_squared_error
housing_predictions = lin_reg.predict(test_prepared)
lin_mse = mean_squared_error(test_labels, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

67235.83732772646

 - Decision Tree Regression

In [54]:
from sklearn.tree import DecisionTreeRegressor

In [55]:
tree_reg = DecisionTreeRegressor()
tree_reg.fit(housing_train, housing_labels)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [56]:
housing_predictions = tree_reg.predict(test_prepared)
tree_mse = mean_squared_error(test_labels, housing_predictions)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

68688.14333479256

### k-fold cross-validation

In [57]:
from sklearn.model_selection import cross_val_score

In [58]:
# 결정트리 모델
scores = cross_val_score(tree_reg, housing_train, housing_labels, 
                        scoring = 'neg_mean_squared_error', cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [59]:
def display_scores(scores):
    print('Scores: ', scores)
    print('Mean: ', scores.mean())
    print('Standard Deviation: ' , scores.std())

In [60]:
display_scores(tree_rmse_scores)

Scores:  [66859.37487827 64716.03374471 70443.94433303 68949.71757215
 68141.72377658 76822.09765734 66751.57455211 71062.37465424
 72357.2281527  71489.77811607]
Mean:  69759.38474372022
Standard Deviation:  3285.667762268645

In [61]:
# 선형회귀 모델
lin_scores = cross_val_score(lin_reg, housing_train, housing_labels, 
                        scoring = 'neg_mean_squared_error', cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores:  [67621.36459192 67050.2893707  68159.77945126 74185.17069359
 68112.25073467 71610.00721757 65235.24278175 68160.85292722
 72191.44396288 68163.77349381]
Mean:  69049.01752253622
Standard Deviation:  2581.3240040196233

In [62]:
# 랜덤포레스트 모델
from sklearn.ensemble import RandomForestRegressor

#학습
forest_reg = RandomForestRegressor()
forest_reg.fit(housing_train, housing_labels)

#평가
forest_scores = cross_val_score(forest_reg, housing_train, housing_labels, 
                        scoring = 'neg_mean_squared_error', cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

display_scores(forest_rmse_scores)

Scores:  [49955.67387639 48402.70964269 51650.34268868 52777.33517792
 52355.67229422 55068.78863152 51349.46736568 52276.3185467
 54603.4485827  52257.29769738]
Mean:  52069.70545038902
Standard Deviation:  1862.4002430136568

### Grid Search

In [64]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    # 12(=3×4)개의 조합 테스트
    {'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]},
    # booststrap False, 6개 조합 테스트
    {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
  ]

# 모델생성 / train-test 데이터 분류
forest_reg = RandomForestRegressor(random_state=42)
# cv = 5, 하나의 조합당 5번씩 모델 생성 및 테스트 --> (12+6) x 5 번 수행
grid_search = GridSearchCV(forest_reg, param_grid, cv=5, scoring='neg_mean_squared_error', 
                           return_train_score=True, n_jobs=-1)


grid_search.fit(housing_train, housing_labels)

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid=[{'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]}, {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='neg_mean_squared_error', verbose=0)

In [66]:
# best 조합
grid_search.best_params_

{'max_features': 8, 'n_estimators': 30}

In [68]:
# best 모델 w/조합
grid_search.best_estimator_

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=8, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=30, n_jobs=1, oob_score=False, random_state=42,
           verbose=0, warm_start=False)

In [73]:
# 조합별 점수 확인
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres['mean_test_score'], cvres['params']):
    print(np.sqrt(-mean_score), params)

65223.37027630678 {'max_features': 2, 'n_estimators': 3}
56252.75476637523 {'max_features': 2, 'n_estimators': 10}
54020.0710132297 {'max_features': 2, 'n_estimators': 30}
61350.02297938352 {'max_features': 4, 'n_estimators': 3}
54393.77190083598 {'max_features': 4, 'n_estimators': 10}
52142.85420105759 {'max_features': 4, 'n_estimators': 30}
60987.487604309004 {'max_features': 6, 'n_estimators': 3}
53437.28739381261 {'max_features': 6, 'n_estimators': 10}
51373.4277357738 {'max_features': 6, 'n_estimators': 30}
60010.87214342677 {'max_features': 8, 'n_estimators': 3}
53292.229502696864 {'max_features': 8, 'n_estimators': 10}
51076.46458685008 {'max_features': 8, 'n_estimators': 30}
64084.93310941501 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
55622.75187563427 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
62545.626857001545 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
54689.18688435343 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
60335.95698457063 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
54052.246243735746 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}